{% extends "_base/_page-nav.twig" %}

{% block page_title %}
    {{ __('authextended.dashboard_title', {'DEFAULT': 'Users Dashboard'})}}
{% endblock %}

{% block page_nav 'Settings/Extensions' %}

{% block page_main %}

<div class="row">
    <div class="col-md-8 content">
      <h2>{{ __('authextended.dashboard_title', {'DEFAULT': 'Users Dashboard'})}}</h2>
    </div>
    <aside class="col-md-4 sidebar">
    </aside>
</div>

{% endblock %}
